
.innerContainer {
    display: flex;
    
    
    
    flex-direction: column; 
    /* flex: 1; */

}


.innerContainer div {
    background-color: blue;
    margin: 5px;
    
    flex-basis: 100px;
    
    box-sizing: border-box;
    
    
    
    /* text-align: center;    */
    
    /* flex: 1; */
}

/* .innerContainer .box2 {
    
    flex-shrink: 0;
    
} */